/* Variables */
:root {
  --max-width: 800px;
  --spacing-xs: .25rem;
  --spacing-sm: .5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  --font-sans: Arial, sans-serif;
  --font-serif: Times New Roman, serif;
  --font-mono: Courier New, monospace;

  --light-0: #fff;
  --light-1: #eee;
  --light-2: #ccc;
  --dark-0: #000;
  --dark-1: #111;
  --dark-2: #333;

  --bg-0: var(--light-0);
  --bg-1: var(--light-1);
  --bg-2: var(--light-2);
  --fg-0: var(--dark-0);
  --fg-1: var(--dark-1);
  --fg-2: var(--dark-2);
  --theme-transition: color .25s ease-out, background .25s ease-out;
}

@page {
  margin: none;
  size: A4;
  background: var(--bg-0);
}
@page :first {
}
.print {
  display: none;
}
@media print {
  .print {
    display: initial;
  }
  .no-print {
    display: none;
  }
  .break-avoid {
    page-break-inside: avoid;
  }
}

/* Resets */
*, *::before, *::after {
  box-sizing: border-box;
}
html, body { height: 100%; width: 100%; }
body {
  margin: 0;
  font: 16px var(--font-sans);
  color: var(--fg-0);
  background: var(--bg-0);
}

/* Theme */

@media (prefers-color-scheme: dark) {
  :root {
    --bg-0: var(--dark-0);
    --bg-1: var(--dark-1);
    --bg-2: var(--dark-2);
    --fg-0: var(--light-0);
    --fg-1: var(--light-1);
    --fg-2: var(--light-2);
  }
}

.light {
  --bg-0: var(--light-0);
  --bg-1: var(--light-1);
  --bg-2: var(--light-2);
  --fg-0: var(--dark-0);
  --fg-1: var(--dark-1);
  --fg-2: var(--dark-2);
}
.dark {
  --bg-0: var(--dark-0);
  --bg-1: var(--dark-1);
  --bg-2: var(--dark-2);
  --fg-0: var(--light-0);
  --fg-1: var(--light-1);
  --fg-2: var(--light-2);
}
body {
  transition: var(--theme-transition);
}

/* Sticky footer */
#page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#page-header, #page-footer { flex: 0; }
#page-content { flex: 1; }

/* A11y */
#skip-link {
  position: absolute; top: 0; left: 0;
  transition: transform .2s ease-out;
  transform: translateY(-100%);
  width: 100%;
  padding: var(--spacing-md);
  &:focus {
    transform: translateY(0);
  }
  text-align: center;
  background: var(--bg-0);
}

/* Layout */
.flex { display: flex; }
.flex-wrap { flex-wrap: wrap; }
.flex-1 { flex: 1; }
.flex-0 { flex: 0; }
.
.md-25, .md-50,
.lg-25, .lg-50 {
  width: 100%;
}
@media all and (min-width: 400px) {
  .md-25 { width: 25%; }
  .md-50 { width: 50%; }
  .md-flex { display: flex; }
  .md-flex-1 { flex: 1; }
}
@media all and (min-width: 600px) {
  .lg-25 { width: 25%; }
  .lg-50 { width: 50%; }
  .lg-flex-1 { flex: 1; }
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--spacing-md);
}

#print-header {
  .container { padding-top: 0; padding-bottom: 0; }
}
#page-header, #page-footer {
  &, select {
    font-family: var(--font-mono);
  }

  ul { padding: 0; }
  a, a:visited {
    color: var(--fg-0);
    text-decoration: none;
  }
}
#page-header {
  ul li:not(:first-child) { margin-left: var(--spacing-xs); }
}
#page-footer {
  ul li:not(:first-child) { margin-top: var(--spacing-xs); }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mono);
}
.subheading {
  font-size: .875em;
  color: var(--fg-2);
}

p {
  &.lead { font-size: 1.25rem; }
}

a, a:visited {
  color: var(--fg-0);
}

ul, ol {
  &.unstyled { list-style: none; margin: 0; padding: 0; }
}

code, pre {
  font-family: var(--font-mono);
  background: var(--bg-1);
}
code { padding: 0 .25em; }
pre { padding: var(--spacing-sm); }

input, select, button {
  z-index: 1;
  &:focus { z-index: 10; }
  padding: .25rem;
  margin: 0;
  height: 1.5rem;
  border: 1px solid var(--bg-1);
  font-size: .75rem;
  line-height: 1;
  background: var(--bg-2);
  color: var(--fg-1);
}

.profile {
  h1 { margin-top: 0; }
  ul li { align-items: center; margin-bottom: var(--spacing-xs); }
  ul li .icon { margin-right: var(--spacing-sm); }
  ul a { text-decoration: none; }
  img { width: 100%; max-width: 400px; margin-bottom: var(--spacing-md); }
}
@media (min-width: 400px) {
  .profile .info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    img { width: 150px; margin-bottom: 0; }
  }

}
.icon {
  fill: var(--fg-0);
  &.material {
    width: 1.125em;
    height: 1.125em;
    margin-left: .25rem;
  }
  &.fa {
    width: 1.5em;
    height: 1.5em;
  }
}
.skills {
  ul {
    margin-bottom: var(--spacing-md);
    li { font-size: .875rem; }
  }
}
.experience {
  break-before: page;
  .stack {
    li {
      &:not(:last-child) { margin-right: var(--spacing-xs); }
      margin-bottom: var(--spacing-xs);
      padding: .125rem .25rem;
      font-size: .75rem;
      color: var(--bg-0);
      background: var(--fg-0);
    }
  }
}
